<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DawgSharp" version="1.2.0" targetFramework="net461" />
  <package id="elkdanger.jigsaw" version="1.0.0.0" targetFramework="net461" />
  <package id="IKVM.OpenJDK.Charsets" version="7.2.4630.5" targetFramework="net461" />
  <package id="IKVM.OpenJDK.Core" version="7.2.4630.5" targetFramework="net461" />
  <package id="IKVM.OpenJDK.Security" version="7.2.4630.5" targetFramework="net461" />
  <package id="IKVM.OpenJDK.SwingAWT" version="7.2.4630.5" targetFramework="net461" />
  <package id="IKVM.OpenJDK.Text" version="7.2.4630.5" targetFramework="net461" />
  <package id="IKVM.OpenJDK.Util" version="7.2.4630.5" targetFramework="net461" />
  <package id="IKVM.OpenJDK.XML.API" version="7.2.4630.5" targetFramework="net461" />
  <package id="IKVM.Runtime" version="7.2.4630.5" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="11.0.0" targetFramework="net461" />
  <package id="LemmaGenerator" version="1.1.0" targetFramework="net45" />
  <package id="libsvm.net" version="2.1.8" targetFramework="net461" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" />
  <package id="VDS.Common" version="1.6.4" targetFramework="net45" />
</packages>